html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#Pensieve{
    height: 100%;
    width: 100%;
    padding: 8px;
    padding-top: 16px;
}

#addMemoryContainer {
    height: 100%;
    
    #addMemoryForm {
        height: calc(100% - 40px);
        width: 100%;

        #addMemoryTextarea {
            width: 100%;
            height: calc(100% - 38px);
            margin-bottom: 4px;
            resize: none;
        }
    }
}

.alertsContainer {
    .alert {
        padding: 4px;
        margin: 4px 0;

        .alertIcon {
            margin-top: 1px;
        }
    }
}

#memoryListContainer {
    height: 100%;

    #memoryListTableWrap {
        height: calc(100% - 74px);
        overflow-y: auto;

        #memoryListTable {
            table-layout: fixed;
            word-wrap: break-word;

            tbody {
                tr:hover {
                    cursor: pointer;
                }
            }

            th, td {
                vertical-align: middle;

                &.idCol {
                    width: 80px;

                    @media (min-width: 1200px) {
                        width: 120px;
                    }
                }

                &.datetimeCol {
                    width: 100px;

                    @media (min-width: 1200px) {
                        width: 150px;
                    }
                }

                &.trashCol {
                    padding-left: 3px;
                    padding-right: 3px;
                    width: 30px;
                }
            }
        }
    }
}

.modal {
    display: block;

    .modal-backdrop {
        height: 100%;
        overflow: none;
    }

    .modal-dialog {
        z-index: 1050;

        &.modal-dialog-confirm {
            z-index: 1100;
        }

        #editableMemoryTextarea {
            resize: none;
        }
    }
}