html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

#Pensieve {
  height: 100%;
  width: 100%;
  padding: 8px;
  padding-top: 16px; }

#addMemoryContainer {
  height: 100%; }
  #addMemoryContainer #addMemoryForm {
    height: calc(100% - 40px);
    width: 100%; }
    #addMemoryContainer #addMemoryForm #addMemoryTextarea {
      width: 100%;
      height: calc(100% - 38px);
      margin-bottom: 4px;
      resize: none; }

.alertsContainer .alert {
  padding: 4px;
  margin: 4px 0; }
  .alertsContainer .alert .alertIcon {
    margin-top: 1px; }

#memoryListContainer {
  height: 100%; }
  #memoryListContainer #memoryListTableWrap {
    height: calc(100% - 74px);
    overflow-y: auto; }
    #memoryListContainer #memoryListTableWrap #memoryListTable {
      table-layout: fixed;
      word-wrap: break-word; }
      #memoryListContainer #memoryListTableWrap #memoryListTable tbody tr:hover {
        cursor: pointer; }
      #memoryListContainer #memoryListTableWrap #memoryListTable th, #memoryListContainer #memoryListTableWrap #memoryListTable td {
        vertical-align: middle; }
        #memoryListContainer #memoryListTableWrap #memoryListTable th.idCol, #memoryListContainer #memoryListTableWrap #memoryListTable td.idCol {
          width: 80px; }
          @media (min-width: 1200px) {
            #memoryListContainer #memoryListTableWrap #memoryListTable th.idCol, #memoryListContainer #memoryListTableWrap #memoryListTable td.idCol {
              width: 120px; } }
        #memoryListContainer #memoryListTableWrap #memoryListTable th.datetimeCol, #memoryListContainer #memoryListTableWrap #memoryListTable td.datetimeCol {
          width: 100px; }
          @media (min-width: 1200px) {
            #memoryListContainer #memoryListTableWrap #memoryListTable th.datetimeCol, #memoryListContainer #memoryListTableWrap #memoryListTable td.datetimeCol {
              width: 150px; } }
        #memoryListContainer #memoryListTableWrap #memoryListTable th.trashCol, #memoryListContainer #memoryListTableWrap #memoryListTable td.trashCol {
          padding-left: 3px;
          padding-right: 3px;
          width: 30px; }

.modal {
  display: block; }
  .modal .modal-backdrop {
    height: 100%;
    overflow: none; }
  .modal .modal-dialog {
    z-index: 1050; }
    .modal .modal-dialog.modal-dialog-confirm {
      z-index: 1100; }
    .modal .modal-dialog #editableMemoryTextarea {
      resize: none; }
